[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "ds-test"]
	path = ds-test
	url = https://github.com/dapphub/ds-test
[submodule "dss"]
	path = dss
	url = https://github.com/dapphub/dss
[submodule "dss-interfaces"]
	path = dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
[submodule "ds-token"]
	path = ds-token
	url = https://github.com/dapphub/ds-token
[submodule "ds-value"]
	path = ds-value
	url = https://github.com/dapphub/ds-value
[submodule "ds-thing"]
	path = ds-thing
	url = https://github.com/dapphub/ds-thing
[submodule "ds-math"]
	path = ds-math
	url = https://github.com/dapphub/ds-math
[submodule "ds-auth"]
	path = ds-auth
	url = https://github.com/dapphub/ds-auth
[submodule "ds-note"]
	path = ds-note
	url = https://github.com/dapphub/ds-note
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.4.0
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/makerdao/dss-gem-joins
	branch = 1.2.10
[submodule "lib/dss"]
	path = lib/dss
	url = https://github.com/makerdao/dss
	branch = c103b30
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
